.last-pic {
    display: block;
    margin: 16% auto 0;
}

.ani-box {
    text-align: center;
}

.doc-list {
    line-height: 40px;
}

.ege {
    display: inline-block;
    margin-top: 10px;
}

.ege a {
    color: #009688;
    font-size: 15px;
}