@import "~utils/styles/colors/less/index.less";

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  text-align: center;

  h1 {
    margin-top: 20px;
    color: @grey-8;
  }

  p {
    margin: 0;
    margin-top: 6px;
    color: @grey-7;
  }

  .img {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .08);
    overflow: hidden;
  }
}
