// 钴蓝
@cobalt-1: #BDD5FC;
@cobalt-2: #AAC5FA;
@cobalt-3: #96B4F9;
@cobalt-4: #819FF7;
@cobalt-5: #6A8AF6;
@cobalt-6: #5272F4;
@cobalt-7: #415BD9;
@cobalt-8: #3448C0;
@cobalt-9: #2737A7;
@cobalt-10: #1D288F;
