// 黄绿
@icecream-color-olivine-1: #E7F58C;
@icecream-color-olivine-2: #DCF173;
@icecream-color-olivine-3: #D0EC5C;
@icecream-color-olivine-4: #C2E643;
@icecream-color-olivine-5: #B1DF2A;
@icecream-color-olivine-6: #A0D911;
@icecream-color-olivine-7: #86BF0D;
@icecream-color-olivine-8: #70A70A;
@icecream-color-olivine-9: #5B8F07;
@icecream-color-olivine-10: #497806;
