.layout-menu {
  height: calc(100% - 60px);
}

.layout-menu:not(.el-menu--collapse) {
  width: 200px;
}

.layout-menu .el-submenu .el-submenu__title i:not(.el-submenu__icon-arrow),
.layout-menu .el-submenu .el-menu .el-menu-item i {
  position: relative;
  top: -1px;
}

.layout-menu .el-submenu .el-submenu__title .el-submenu__icon-arrow {
  margin-top: -6px;
}

.layout-menu .el-submenu .el-menu .el-menu-item i {
  top: -2px;
}

.layout-menu .el-submenu .el-submenu__title i,
.layout-menu .el-submenu .el-menu .el-menu-item i {
  color: #fff;
}