.user-manage {
  width: 100%;
  height: 100%;
}

.user-manage .el-table {
  max-height: 100%;
  overflow: hidden;
}

.user-manage .el-table .el-table__body-wrapper {
  height: auto !important;
  max-height: calc(100% - 48px);
  overflow-x: hidden;
  overflow-y: auto;
}

.user-manage table {
  width: 100%;
  height: auto;
}

.user-manage table .row-success {
  background-color: #ddd;
}

.user-manage table .el-table__row .el-button {
  margin: 0;
}

.user-manage .el-dialog__body {
  padding: 10px 20px;
}

.user-manage .dialog-form-item {
  margin-bottom: 10px;
}

.user-manage .dialog-select {
  width: 100%;
}

.user-manage .el-dialog__footer {
  height: 50px;
  padding: 0;
  margin-right: 10px;
  line-height: 50px;
}

.pop-info {
  text-align: center;
}

.pop-control {
  margin: 0;
  text-align: center;
}