.user-table {
  width: 100%;
  height: 100%;
}

.user-table .el-table {
  max-height: 100%;
  overflow: hidden;
}

.user-table .el-table .el-table__body-wrapper {
  height: auto !important;
  max-height: calc(100% - 60px);
  overflow-x: hidden;
  overflow-y: auto;
}

.user-table table {
  width: 100%;
  height: auto;
}

.user-table table .el-table__row {
  cursor: pointer;
}

.user-table table .row-success {
  background-color: #ffd04b;
}