.evaluate-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.evaluate-page .head-container {
  width: 80%;
  position: relative;
  left: 10%;
}

.evaluate-page .head-container .head-control {
  width: 100%;
  height: 50px;
  line-height: 50px;
}

.evaluate-page .head-container .head-control .control-btns {
  text-align: right;
}

.evaluate-page .main-container {
  width: 80%;
  height: calc(100% - 60px);
  position: relative;
  top: 10px;
  left: 10%;
  overflow-x: hidden;
  overflow-y: auto;
}