.my-work {
    width: 100%;
    height: 100%;
}

.my-work .title {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    color: #4db6da;
    font-size: 15px;
    line-height: 50px;
    cursor: pointer;
}

.my-work .content {
    width: 100%;
    height: calc(100% - 50px);
    position: absolute;
    top: 50px;
    overflow-x: hidden;
    overflow-y: auto;
}

.my-work .content .content-item {
    width: 90%;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
}

.my-work .content-item .item-title {
    margin-bottom: 20px;
    padding-left: 10px;
}

.my-work .content-item .item-content {
    width: 100%;
    height: 100px;
    padding-left: 20px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 10px;
    line-height: 100px;
    cursor: pointer;
}

.my-work .content-item .item-content:hover {
    -webkit-box-shadow: 5px 5px 5px #d3d3d3;
    -moz-box-shadow: 5px 5px 5px #d3d3d3;
    -o-box-shadow: 5px 5px 5px #d3d3d3;
    box-shadow: 5px 5px 5px #d3d3d3;
}

.my-work .item-content .active-icon {
    color: #4db6da;
}

.my-work .item-content .invisible-icon {
    visibility: hidden;
}